body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  font-size: xx-large;
  text-align: center;
  outline: none;
  border: none;
}

input:focus {
  border: none;
}

#values {
  height: 20px;
  text-align: center;
  font-weight: lighter;
  font-size: large;
}