body {
  overflow: hidden;
  user-select: none;
  cursor: default;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;     
}

h1 {
  font-size: calc(16px + 20vw);
  opacity: 15%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  margin: 0;
  display: flex;
  flex-direction: row;
  z-index: 0;
}

.App {
  background: linear-gradient(60deg, magenta, cyan);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.render {
  position: absolute;
  z-index: 1;
  width: 500px;
  height: 500px;
  background: none;
}

input {
  opacity: 50%;
  background: white;
  color: #222;
  font-size: large;
  font-weight: 400;
  text-align: center;
  border: none;
  transition: all 0.2s;
  outline: none;
  z-index: 1;
}

input:focus {
  opacity: 100%;
}

#values {
  height: 50px;
}

.fade-in {
  opacity: 0;
  animation: fade-in 1s forwards 2s
}

@keyframes fade-in {
  from { opacity: 0%; }
  to { opacity: 100%; }
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  position: absolute;
  opacity: 50%;
  transition: all 0.3s;
  border: none;
  background: none;
  height: 40px;
  width: 40px;
  color: white;
}

button:hover {
  opacity: 100%;
  transform: scale(1.1);
}

.info-button {
  position: absolute;
  height: 40px;
  width: 40px;
  left: 5%;
  top: 5%;
}

.text-input {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  border-radius: 25px;
  height: 40px;
}

.ipa {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  background: none;
  color: white;
}

.phoneme-select {
  position: absolute;
  right: 5%;
  bottom: 15%;
  width: 40px;
  background: none;
  color: white;
}

.info-splash {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-splash p, .info-splash h2, .info-splash h3 {
  color: white;
}